/** @format */

* {
	color: black;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;


	
}

body{
	overscroll-behavior: none;
	}


* > ul{
	padding: 0;
	margin: 0;
}



.p-15 {
	padding: 15px;
}
.padding-20 {
	padding: 20px;
}
.padding-40 {
	padding: 20px 40px;
}
.margin-20 {
	margin: 20px;
}
.margin-50 {
	margin: 50px;
}

fs-20{
	font-size: 20px;
}
fs-25{
	font-size: 25px;
}

.btn-wide {
	width: 400px;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;

	transition-duration: 0.4s;
	background-color: white;
	border-radius: 30px;
	/* border-color: gray; */
	border: 2px solid rgb(4, 93, 209);
	
}

.btn-wide:hover {
	background-color: rgb(4, 93, 209);
	color: white;
	cursor: pointer;
}
.btn-narrow {
	padding: 10px;
	margin: 5px;
	text-decoration: none;
	transition-duration: 0.4s;
	background-color: white;
	border-radius: 30px;
	/* border-color: gray; */
	border: 2px solid rgb(4, 93, 209);
	color: black;
	font-weight: bold;
}

.btn-narrow:hover {
	background-color: rgb(4, 93, 209);
	color: white;
	cursor: pointer;
}
.btn-danger {
	padding: 10px 15px;
	margin: 10px 0px;
	font-size: 20px;

	transition-duration: 0.4s;
	background-color: white;
	border-radius: 30px;
	/* border-color: gray; */
	border: 2px solid rgb(234, 6, 6);
	font-weight: bold;
}

.btn-danger:hover {
	background-color: rgb(234, 6, 6);
	color: white;
	cursor: pointer;
}

.large-font {
	font-size: 70px;
	padding: 0;
}

.programmer-icon-small {
	fill: rgb(4, 93, 209);
	margin: 40x;
	width: 60px;
	height: 60px;
}
.programmer-icon-big {
	fill: white;
	width: 100%;
	height: auto;
	background-color: rgb(4, 93, 209);
}

.input-wide {
	width: 375px;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;

	background-color: white;
	border-radius: 30px;
	border: 2px solid gray(4, 93, 209);
}

.main-grid {
	display: grid;
	grid-template-columns: 15% 85%;
	height: 100vh;
	
}

.small-round-dp{
    width: 60px;
    height: auto;
    border-radius: 50px;
    padding: 15px;

}

.border-b {
	border-bottom: 1px solid lightgray
}

::-webkit-scrollbar {
	width: 10px;
	z-index: 2;
  }
  
  ::-webkit-scrollbar-track {
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
	background: lightgray;
	border-radius: 10px;
  }

@media screen and (min-width: 1300px) {
	.main-grid{
		grid-template-columns: 15% 85%;
	}
	.desktop {
		margin: 0 auto;
		width: 50%;
		justify-content: center;
	}
}
